a, a:active, a:hover, a:link, a:visited {
  text-decoration: none;
}

.social-icon {
  font-size: 18em;
  width: 250px;
  text-align: center;

  /* Center it! */
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

/* This is redundant but hey*/
.profile-pic {
  font-size: 18em;
  width: 250px;
  text-align: center;

  /* Center it! */
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.social-icon:hover {
  filter: brightness(75%);
}

.social-github {
  color: black;
}

.social-twitter {
  color: #1DA1F2;
}

.social-steam {
  color: #464749;
}
